

.left {
  background: #4A90E2;
  width: 33%;
  height:100vh;

}
.middle{
  background:#50E3C2;
  width:33%;
  height:100vh;

}

.right{
  background: #B8E986;
  width: 33%;
  height:100vh;
  position: relative;

}

section{
  float:left
}

.turtles{
  height: 25vh;
  width: 100%;
  z-index: 1;
  content:url(./turtles2.jpg);
  position:absolute;
  bottom: 0;
  right: 0;

}
